h1 {
	color: white;
	text-shadow: 100px 100px white;
}

div {
	background: black;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	/* Fixed layouts vs scaling layouts */
	border: 1px white;
	margin: 20px 20px 20px 20px;
	padding: 20px 400px 20px 20px;
	
	font-family: monospace;
}

#ScythePicture {
	width: 400px;
}

.fixed-size {
	width: 200px;
}

.elastic-size {
	width: 12.5em;
}

.fluid-size {
	width: 70%;
}

.threshold-size {
	min-width: 500px;
	max-width: 900px;
}